.categoryDiv{
    padding: 2%;
    border-radius: 7%;
    display: inline-flex;
    background-color: rgb(108, 174, 240);
    margin: 0.6%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 10px 20px -10px rgba(52, 52, 53, 0.6);
}
.categoryDiv2{
  padding: 2%;
  border-radius: 7%;
  display: inline-flex;
  background-color: rgb(7, 59, 111);
  margin: 0.6%;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 0 10px 20px -10px rgba(52, 52, 53, 0.6);
  color: white;
}
.categoryDiv:hover {
    transform: translateY(-3px);
    cursor: pointer;
   
  }
  .categoryDiv2:hover {
    transform: translateY(-3px);
   cursor: pointer;
  }
  .categorySection{
    width: 100%;
    border-radius: 8px;
   
    
  }
  .indexclass{
    z-index: 0;
    border: 1px;
    padding: 12px;
    border-style: solid;
    margin: 10px;
    border-radius: 5px;
    font-weight: 500;
    width: 80%;
    
  }
  .indexclass:hover{
    cursor: pointer;
    
  }
  
  .noFiles{
    height: 50%;
    width: 100%;
    background-color:whitesmoke;
    border-radius: 5%;
    box-shadow: 0 10px 10px -10px rgba(52, 52, 53, 0.6);
    margin: auto;
    
  }
  .noFilesdiv{
    
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    text-align: center;
    font-size: 80px;
    
  }
  .delete{
    background-color:black;
    color: white;
    display: inline;
  }
  .inline{
    display: inline-flex;

  }
  
  .inline1{
    display: inline-flex;
    padding: 10%;
    margin: 2px;
    max-height: 40px;
    max-width: 70px;
    
  }
  .scroll{
    overflow-y:auto;
   max-height: 60%;
   height: 60%;
    
  }
  .test{
    
    width: 100%;
  }
  .filedivcategory{
    display: inline-flex;
    color: rgb(242, 181, 181);
    margin-left: auto;
    
  }
  .filedivcategory:hover{
    text-decoration: none;
  }
  .filedivname{
    display: inline-flex;
  }
  .filedivname:hover{
    text-decoration: underline;
  }
  .loading{
    height: 200px;
    width: 100%;
    text-align: center;
    background-color:red;
  }
  .centeredloading{
    
    color: black;
    animation: rotate 1s infinite linear;
    width: fit-content;
    height: fit-content;
  }
  @keyframes rotate {
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }