.Alignment{
    text-align: center;
    border: 10px;
    background-color: rgb(236, 234, 234);
    border-radius: 5px;
    width: 60%;
    margin: auto;
}
.inputFile{
    text-align: center;
    color: black;
    margin: 10px;
}
